@use "./abstracts" as abs;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #495670 abs.$clr-very-dark-blue;
}

body {
	font-family: abs.$ff-inter;
	background-color: abs.$clr-very-dark-blue;
}

img,
svg {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
p,
a {
	width: fit-content;
}

a:link,
a:visited {
	text-decoration: none;
}

// NAVIGATION
.navigation {
	height: abs.toRem(100px);
	background-color: rgba(10, 25, 47, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 abs.toRem(50px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	@include abs.transitionAll;

	&.hidden {
		transform: translateY(-100%);
	}

	&.visible {
		transform: translateY(0);
		backdrop-filter: blur(10px);
	}

	&_logo:link,
	&_logo:visited {
		color: abs.$clr-very-light-green;
		font-size: abs.toRem(30px);
		letter-spacing: abs.toRem(-1px);
	}

	&_list {
		font-family: abs.$ff-fira-code;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: abs.toRem(25px);
	}

	&_item {
		& span {
			font-family: abs.$ff-fira-code;
			color: abs.$clr-very-light-green;
			margin-right: abs.toRem(5px);
		}

		& a {
			color: abs.$clr-mid-light-blue;
			@include abs.transitionAll;
		}

		&:hover a {
			color: abs.$clr-very-light-green;
		}
	}
}

// INTRODUCTION
.header {
	@include abs.sectionSize;

	&_primary {
		font-size: abs.toRem(16px);
		color: abs.$clr-very-light-green;
		font-family: abs.$ff-fira-code;
		font-weight: abs.$fw-tiny;
		margin-bottom: abs.toRem(5px);
	}

	&_secondary,
	&_tertiary {
		font-size: abs.toRem(80px);
		font-weight: abs.$fw-large;
	}

	&_secondary {
		color: abs.$clr-very-light-blue;
	}

	&_tertiary {
		color: abs.$clr-light-blue;
		margin-bottom: abs.toRem(15px);
	}

	&_description {
		color: abs.$clr-light-blue;
		font-size: abs.toRem(20px);
		width: abs.toRem(520px);
		margin-bottom: abs.toRem(50px);
	}

	&_button-container {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: abs.toRem(15px);
	}

	&_button {
		cursor: pointer;
		outline: none;
		border: 1px solid abs.$clr-very-light-green;
		border-radius: abs.toRem(5px);
		color: abs.$clr-very-light-green;
		background: none;
		font-size: abs.toRem(18px);
		font-family: abs.$ff-fira-code;
		padding: abs.toRem(14px) abs.toRem(20px);
		@include abs.transitionAll;

		&:hover {
			box-shadow: abs.toRem(4px) abs.toRem(4px) 0 abs.$clr-very-light-green;
			transform: translate(-5px, -5px);
		}
	}
}

// PAGE INTRO
.pageIntro {
	display: flex;
	align-items: center;

	&_number {
		font-family: abs.$ff-fira-code;
		color: abs.$clr-very-light-green;
		font-size: abs.toRem(20px);
		margin-right: abs.toRem(10px);
	}

	&_title {
		font-size: abs.toRem(32px);
		color: abs.$clr-very-light-blue;
		font-weight: abs.$fw-medium;
		margin-right: abs.toRem(20px);
	}

	&_rec {
		height: 1px;
		width: abs.toRem(300px);
		background-color: abs.$clr-dark-blue;
	}
}

// ABOUT SECTION
.about {
	@include abs.sectionSize;

	&_info-container {
		margin-top: abs.toRem(30px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: abs.toRem(100px);
	}

	&_info-text-container {
		color: abs.$clr-light-blue;
		font-size: abs.toRem(20px);

		& p {
			margin-bottom: abs.toRem(20px);
		}

		& a:link,
		& a:visited {
			@include abs.anchorHover;
		}
	}

	&_tech-list {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(abs.toRem(60px), 1fr));
		grid-auto-rows: 1fr;
		justify-items: center;
		align-items: center;
		gap: abs.toRem(20px);
	}

	&_tech-item {
		&-logo {
			width: abs.toRem(60px);
			height: abs.toRem(60px);
		}
	}

	&_avatar-container {
		position: relative;
		transition: transform 0.3s ease;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: abs.toRem(4px);
			background-color: abs.$clr-very-light-green;
			opacity: 0.5;
			transition: opacity 0.3s ease;
			z-index: 1;
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			border: 2px solid abs.$clr-very-light-green;
			border-radius: abs.toRem(4px);
			position: absolute;
			top: abs.toRem(14px);
			left: abs.toRem(14px);
			z-index: -1;
			transition: transform 0.3s ease;
		}

		&:hover {
			transform: translate(-4px, -4px);
		}

		&:hover::before {
			opacity: 0;
		}

		&:hover::after {
			transform: translate(8px, 8px);
		}
	}

	&_avatar {
		border-radius: abs.toRem(4px);
		position: relative;
		overflow: hidden;
	}
}

// EDUCATION
.education {
	@include abs.sectionSize;

	&_info-container {
		margin-top: abs.toRem(30px);
		display: flex;
		align-items: flex-start;
		gap: abs.toRem(100px);
	}

	&_list {
		list-style: none;
	}

	&_button {
		outline: none;
		border: none;
		cursor: pointer;
		color: abs.$clr-light-blue;
		background: none;
		font-size: abs.toRem(14px);
		font-weight: abs.$fw-small;
		font-family: abs.$ff-fira-code;
		padding: abs.toRem(15px);
		width: abs.toRem(180px);
		text-align: left;
		@include abs.transitionAll;

		&:hover {
			background-color: abs.$clr-mid-dark-blue;
		}

		&.btn--active {
			color: abs.$clr-very-light-green;
			background-color: abs.$clr-mid-dark-blue;
		}
	}

	// DETAILS
	&-details {
		&_title {
			font-size: abs.toRem(20px);
			color: abs.$clr-very-light-green;
			font-weight: abs.$fw-small;
			display: flex;
			align-items: center;
			margin-bottom: abs.toRem(10px);

			& span {
				color: abs.$clr-very-light-blue;
			}
		}

		&_time {
			font-family: abs.$ff-fira-code;
			font-size: abs.toRem(14px);
			color: abs.$clr-very-light-blue;
			margin-bottom: abs.toRem(20px);
		}

		&_info-list {
			list-style: none;
		}

		&_info-item {
			display: flex;
			align-items: center;
			color: abs.$clr-light-blue;

			&:not(:last-child) {
				margin-bottom: abs.toRem(15px);
			}
		}

		&_info-item span {
			color: abs.$clr-very-light-green;
			margin-right: abs.toRem(20px);
			font-size: abs.toRem(20px);
		}
	}
}

// EXPERIENCE
.experience {
	@include abs.sectionSize;

	& ul {
		list-style: none;

		& p {
			color: abs.$clr-light-blue;
		}

		& h3 {
			font-size: abs.toRem(20px);
			color: abs.$clr-very-light-blue;
			margin-bottom: abs.toRem(5px);
			font-weight: abs.$fw-small;
		}
	}

	&_container {
		margin-top: abs.toRem(50px);
		@include abs.center;
	}

	&_description {
		font-size: abs.toRem(18px);

		&:not(:last-child) {
			margin-bottom: abs.toRem(10px);
		}
	}

	&_time {
		font-size: abs.toRem(14px);
		font-family: abs.$ff-fira-code;
	}

	&_list-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_list-left,
	&_list-right {
		flex-grow: 1;
		max-width: abs.toRem(500px);
	}

	&_list-left {
		height: abs.toRem(300px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
		padding-right: abs.toRem(50px);

		& li {
			text-align: right;
			@include abs.flexColLeft;
		}
	}

	&_list-mid {
		flex-shrink: 0;
		width: abs.toRem(5px);
		height: abs.toRem(280px);
		list-style: none;
		background-color: abs.$clr-light-blue;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		&-cir1,
		&-cir2 {
			width: abs.toRem(20px);
			height: abs.toRem(20px);
			border-radius: 50%;
			background-color: abs.$clr-very-light-green;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&-cir1 {
			top: 0;
		}

		&-cir2 {
			bottom: 0;
		}
	}

	&_list-right {
		height: abs.toRem(300px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		padding-left: abs.toRem(50px);

		& li {
			text-align: left;
			@include abs.flexColRight;
		}
	}
}

// CERTIFiCATIONS
.certifications {
	@include abs.sectionSize;

	&_container {
		margin-top: abs.toRem(30px);
	}
}

.certificate {
	&_item {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(abs.toRem(250px), 1fr));
		grid-auto-rows: 1fr;
		align-items: center;
		gap: abs.toRem(20px);
		@include abs.transitionAll;
	}

	&_info {
		background-color: abs.$clr-mid-dark-blue;
		padding: abs.toRem(20px) abs.toRem(30px);
		border-radius: abs.toRem(4px);
		z-index: 1;
		@include abs.boxShadow;

		&--left {
			text-align: right;
			@include abs.flexColLeft;
		}

		&--right {
			text-align: left;
			@include abs.flexColRight;
		}

		& h3 {
			font-size: abs.toRem(20px);
			color: abs.$clr-light-blue;
			margin-bottom: abs.toRem(10px);
		}

		& p {
			color: abs.$clr-light-blue;
			font-size: abs.toRem(18px);
		}

		& span {
			color: abs.$clr-very-light-green;
		}
	}

	&_img {
		border-radius: abs.toRem(5px);
	}
}

// PRPOJECTS
.projects {
	@include abs.sectionSize;

	&_container {
		margin-top: abs.toRem(30px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: abs.toRem(150px);
	}
}

.project {
	&_item {
		display: flex;
		align-items: center;
	}

	&_img {
		width: abs.toRem(650px);
		height: abs.toRem(310px);
		border-radius: abs.toRem(4px);

		&-link--right {
			margin-right: abs.toRem(-66px);
		}

		&-link--left {
			margin-left: abs.toRem(-66px);
		}
	}

	&_info--right {
		text-align: right;
		@include abs.flexColLeft;
	}

	&_info--left {
		text-align: left;
		@include abs.flexColRight;
	}

	&_tag {
		font-family: abs.$ff-fira-code;
		font-size: abs.toRem(14px);
		color: abs.$clr-very-light-green;
		margin-bottom: abs.toRem(5px);
	}

	&_title {
		margin-bottom: abs.toRem(20px);

		& a:link,
		& a:visited {
			color: abs.$clr-very-light-blue;
			font-weight: abs.$fw-medium;
			font-size: abs.toRem(28px);
			@include abs.transitionAll;

			&:hover {
				color: abs.$clr-very-light-green;
			}
		}
	}

	&_description-container {
		@include abs.boxShadow;
		width: abs.toRem(500px);
		height: fit-content;
		background-color: abs.$clr-mid-dark-blue;
		padding: abs.toRem(30px);
		font-size: abs.toRem(18px);
		color: abs.$clr-light-blue;
		line-height: abs.toRem(25px);
		border-radius: abs.toRem(4px);
		margin-bottom: abs.toRem(30px);
		position: relative;
		z-index: 2;

		& a:link,
		& a:visited {
			@include abs.anchorHover;
		}
	}

	&_tech {
		list-style: none;
		color: abs.$clr-mid-light-blue;
		font-size: abs.toRem(14px);
		font-family: abs.$ff-fira-code;
		display: flex;
		gap: abs.toRem(20px);
		align-items: center;
	}

	&_tech--right {
		justify-content: flex-end;
	}

	&_tech--left {
		justify-content: flex-start;
	}
}

// CONTACT
.contact {
	@include abs.sectionSize;

	&_info-container {
		@include abs.center;
		align-items: start;
		gap: abs.toRem(50px);
		margin-top: abs.toRem(30px);
	}

	&_details {
		& h3 {
			font-size: abs.toRem(20px);
			color: abs.$clr-very-light-blue;
			margin-bottom: abs.toRem(15px);
		}

		& ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
			gap: abs.toRem(8px);
		}

		& a:link,
		& a:visited {
			@include abs.anchorHover;
		}
	}
}

// FOOTER
.footer {
	@include abs.sectionSize;

	& div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	& p {
		color: abs.$clr-light-blue;

		&:first-child {
			margin-bottom: abs.toRem(10px);
		}
	}

	& a:link,
	& a:visited {
		@include abs.anchorHover;
	}
}

// ! --PRELOADER -- !
// ! CREDITS: https://codepen.io/bojankrsmanovic/full/dpzeZm

$w-size: 200px;
$w-margin: -$w-size / 2;
$b-size: 70%;
$box-wrapper-width: $b-size;
$box-wrapper-height: $b-size;
$box-wrapper-margin: calc((100% - #{$box-wrapper-height}) / 2)
	calc((100% - #{$box-wrapper-width}) / 2);

.wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: $w-margin;
	width: $w-size;
	height: $w-size;
	background-color: transparent;
	border: none;
	user-select: none;
	-webkit-user-select: none;

	.box-wrap {
		width: $box-wrapper-width;
		height: $box-wrapper-height;
		margin: $box-wrapper-margin;
		position: relative;
		transform: rotate(-45deg);

		.box {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(135, 0, 0, 0.6);
			background: linear-gradient(
				to right,
				#141562,
				#486fbc,
				#eab5a1,
				#8dd6ff,
				#4973c9,
				#d07ca7,
				#f4915e,
				#f5919e,
				#b46f89,
				#141562,
				#486fbc
			);
			background-position: 0% 50%;
			background-size: 1000% 1000%;
			visibility: hidden;

			&.one {
				animation: moveGradient 15s infinite, oneMove 3.5s infinite;
			}

			&.two {
				animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
			}

			&.three {
				animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
			}

			&.four {
				animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
			}

			&.five {
				animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
			}

			&.six {
				animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
			}
		}
	}
}

@keyframes moveGradient {
	to {
		background-position: 100% 50%;
	}
}

@keyframes oneMove {
	0% {
		visibility: visible;
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes twoMove {
	0% {
		visibility: visible;
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes threeMove {
	0% {
		visibility: visible;
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(0% 70% 70% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
	71.4285% {
		clip-path: inset(0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(35% 70% 35% 0 round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes fourMove {
	0% {
		visibility: visible;
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
	71.4285% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes fiveMove {
	0% {
		visibility: visible;
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes sixMove {
	0% {
		visibility: visible;
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	14.2857% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	28.5714% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	42.8571% {
		clip-path: inset(70% 0 0 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	57.1428% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	71.4285% {
		clip-path: inset(35% 0% 35% 70% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	85.7142% {
		clip-path: inset(35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}

	100% {
		clip-path: inset(70% 35% 0% 35% round 5%);
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}
